.calendar-wrapper {
  font-family: 'IBM Plex Sans KR', sans-serif;
  width: 65%;
  margin: 1rem auto;
  
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendar-controls{
  display: flex;
  align-items: center;
}

.calendar-controls button {
  margin-left: 0.9rem;

  height: 32px;
  font-size: 10px;
  padding: 0px 15px;
  cursor: pointer;
  
  border: solid 1px var(--Galaxy);
  border-radius: 8px;
  font-weight: bold;
}

button{
  background-color: var(--EEF1F6);
}

.save-btn{
  background-color: var(--Venus);
}

.nav-btn svg{
  width: 15px;
  height: 15px;
}


.calendar-grid {
  border: 1px solid var(--Galaxy);
  border-radius: 12px;
  padding: 2.8rem 5rem;
  background-color: var(--EEF1F6);
}

.calendar-top-row {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr);
  text-align: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
  
}



.day-header .date {
  font-weight: bold;
  color: var(--Planetary);
}

.calendar-body {
  display: grid;
}

.calendar-row {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr);
  border-top: 1px solid var(--Galaxy);
  height: 30px;
}

.time-label {
  text-align: right;
  padding-right: 0.5rem;
  font-size: 12px;
  color: var(--Galaxy);
}

.calendar-cell {
  border-left: 1px solid var(--Galaxy);
  cursor: pointer;
  transition: background 0.2s ease;
}

.calendar-cell:hover {
  background-color: #e6f0ff;
}

.calendar-cell.cell-main {
  background-color:  rgb(51,78,172, 0.5); 
}

.calendar-cell.cell-light {
  background-color: rgb(186,214,235,0.5); 
}

.free-day-header.main-selected {
  font-weight: bold;
  color: var(--Planetary);
}
