:root {
  --Galaxy: #081F5C;
  --EEF1F6: #EEF1F6;
  --point-Red: #BA1717;
  --Planetary: #334EAC;
  --Venus: #BAD6EB;
  --Universe: #7096D1;
  --Milky-way: #FFF9F0;
  --Green-fill : #F0F9F2;
  --Green-border : #03781D;
  --Yellow-border: #F3DE71;
}
