.month-calendar {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans KR', sans-serif;
  width: 1185px;
  margin: 0px 367px;
}

.month-header,
.month-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-cell {
  border: 1px solid #eee;
  height: 110px;
  padding: 4px 6px;
  font-size: 13px;
  position: relative;
}

.header-cell {
  background: #f9f9f9;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.month-date {
  font-weight: 600;
  margin-bottom: 4px;
}


.not-this-month {
  background-color: #f4f4f4;
  color: #aaa;
}

.month-event {
  font-size: 12px;
  margin-top: 2px;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}



.event-green { background-color: #d6f5d6; border: solid 1px var(--Green-border); color: #007f00;}
.event-blue { background-color: #cce5ff; border: solid 1px var(--Universe); color: #004a9f; }
.event-yellow { background-color: #fff7c2; border: solid 1px var(--Yellow-border) ; color: #a68b00; }
.event-red { background-color: #ffd1d1; border: solid 1px var(--point-Red); color: #b30000;  }


