.Repeating-modal-overlay {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Repeating-modal-box{
    background-color: var(--EEF1F6);
    padding: 1rem;
    overflow-y: auto;
    border: solid 1px var(--Galaxy);
    border-radius: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.Repeating-modal-icon{
    border: 1px solid var(--Galaxy);
    padding: 14px;
    border-radius: 10px;
    background-color: white;
}

.Repeating-modal-header h3{
    margin: 17px 0px 0px 0px;
    font-size: 18px;
}

.Repeating-modal-content p{
    color: gray;
    margin: 7px 0px 0px 0px;
    font-size: 14px;
}

.Repeating-modal-content label {
  display: block;
  margin-top: 1rem;
  font-weight: 500;
}

.Repeating-modal-content select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.6rem;
  border-radius: 6px;
}

.Repeating-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.Repeating-btn-cancel {
  background: white;
  border: 1px solid var(--Galaxy);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.Repeating-btn-save {
  background: var(--Planetary);
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
}
